---
import { AstroSeo } from "@astrolib/seo";
import { getPaginatedPosts } from "@/services/db/requests/posts/get";
import { getTagById } from "@/services/db/requests/tags";
import { type Post } from "@/entities/posts";
import { type Tag } from "@/entities/tags";
import PostComplete from "@/components/posts/post/post-complete";
import PostPagination from "@/components/posts/post/post-pagination";
import SidebarLayout from "@/layouts/sidebar-layout.astro";
import SidebarTagNav from "@/components/base/sidebar-tag-nav";

/**
 * Check for tag id
 */
const tagId = Astro.params.id;
if (!tagId) {
	return Astro.redirect("/404");
}

/**
 * Get tag and tag name
 */
let tag: Tag | null = null;
let tagName = "";

try {
	tag = await getTagById(tagId);
	if (!tag) {
		return Astro.redirect("/404");
	}

	// Clear any categories from name
	tagName = tag.name.replace(/^[^:]*: /, "");
} catch (_) {
	return Astro.redirect("/404");
}

/**
 * Get post
 */
const postIndex = parseInt(Astro.params.index || "1");
let post: Post | null = null;
let pagination: APIPagination | null = null;

try {
	const posts = await getPaginatedPosts({
		page: postIndex,
		perPage: 1,
		tagId,
	});

	if (!posts.items.length) {
		return Astro.redirect(`/tags/${tagId}`);
	}

	post = posts.items[0];
	pagination = posts.pagination;
} catch (_) {
	return Astro.redirect("/500");
}
---

<AstroSeo
	title={`#${tagName} post #${pagination.page}| ${Astro.locals.siteSettings.TITLE}`}
	description={Astro.locals.siteSettings.DESCRIPTION}
/>

<SidebarLayout contentPadding={false}>
	<span slot="collection-title">{`on #${tagName}`}</span>

	<SidebarTagNav
		page={pagination.page}
		slot="collection-navigation"
		tagId={tagId}
		totalItems={pagination.totalItems}
		totalPages={pagination.totalPages}
	/>

	<PostComplete
		activeTagId={tagId}
		post={post}
		showAdminMenu={!!Astro.locals.user}
	/>

	<PostPagination
		className="block md:hidden"
		page={pagination.page}
		tagId={tagId}
		totalPages={pagination.totalPages}
	/>
</SidebarLayout>
