---
import { type Post } from "@/entities/posts";
import { getImgUrl, type ImageSize } from "@/lib/get-img-url";
import TagBox from "@/components/tags/tag-box/tag-box";

interface Props {
	isLink: boolean;
	post: Post;
	size: ImageSize;
}

const activeTagId = Astro.url.pathname.match(/\/tags\/([^\/?]+)/)?.[1];

const {
	isLink,
	post: { alt, expand, id, file, caption },
	size,
} = Astro.props;
---

<article
	class="bg-muted-background m-auto inline-flex flex-col text-left rounded-b-sm"
>
	<figure>
		{
			isLink ? (
				<a href={`/posts/${id}`} aria-label={"Post"}>
					<img
						class="rounded-t-sm"
						src={getImgUrl(id, file, size)}
						alt={alt}
						loading="lazy"
					/>
				</a>
			) : (
				<img
					class="rounded-t-sm max-h-[700px]"
					src={getImgUrl(id, file, size)}
					alt={alt}
					loading="lazy"
				/>
			)
		}

		{
			caption && (
				<figcaption class="text-base px-2 mt-2 ml-1">{caption}</figcaption>
			)
		}
	</figure>

	<TagBox tags={expand?.tags} activeTagId={activeTagId} />
</article>
