---
import { type Post } from "@/entities/posts";
import { getImgUrl, type ImageSize } from "@/lib/get-img-url";
import TagList from "@/components/tag-list.astro";

interface Props {
	isLink: boolean;
	post: Post;
	size: ImageSize;
}

const {
	isLink,
	post: { alt, expand, id, file, caption },
	size,
} = Astro.props;
---

<article class="m-auto inline-flex flex-col text-left">
	<figure>
		{
			isLink ? (
				<a href={`/posts/${id}`} aria-label={"Post"}>
					<img
						class="rounded-sm"
						src={getImgUrl(id, file, size)}
						alt={alt}
						loading="lazy"
					/>
				</a>
			) : (
				<img
					class="rounded-sm max-h-[700px]"
					src={getImgUrl(id, file, size)}
					alt={alt}
					loading="lazy"
				/>
			)
		}

		{
			caption && (
				<figcaption
					class="prose max-w-none text-base py-2"
					set:html={caption}
				/>
			)
		}
	</figure>

	{expand?.tags && <TagList tags={expand.tags} />}
</article>
