---
import { type Post } from "@/entities/posts";
import { getImgUrl, type ImageSize } from "@/lib/get-img-url";
import TagBox from "@/components/tags/tag-box/tag-box";

interface Props {
	isLink: boolean;
	post: Post;
	size?: ImageSize;
}

const activeTagId = Astro.url.pathname.match(/\/tags\/([^\/?]+)/)?.[1];
const activeYear = Astro.url.searchParams.get("year");

const {
	isLink,
	post: { alt, expand, id, file, caption, shot_on },
	size,
} = Astro.props;
---

<article
	class:list={[
		"m-auto inline-flex flex-col text-left rounded-b-sm max-w-[1000px",
		isLink ? "w-[600px]" : "",
	]}
>
	<figure class="flex items-center flex-col">
		{
			isLink ? (
				<a href={`/posts/${id}`} aria-label={"Post"}>
					<img
						class="max-h-[78vh]"
						src={getImgUrl({ id, file }, size)}
						alt={alt}
						loading="lazy"
					/>
				</a>
			) : (
				<img
					class="max-h-[78vh]"
					src={getImgUrl({ id, file }, size)}
					alt={alt}
					loading="lazy"
				/>
			)
		}

		{
			caption && (
				<figcaption class="text-base font-normal mt-2 ml-1 break-all">
					{caption}
				</figcaption>
			)
		}
	</figure>

	<TagBox
		activeTagId={activeTagId}
		activeYear={activeYear}
		date={shot_on}
		tags={expand?.tags}
	/>
</article>
