---
import { AstroSeo } from "@astrolib/seo";
import { getPageBySlug } from "@/services/db/requests/pages";
import PageAdminMenu from "@/components/pages/page-admin-menu";
import SidebarLayout from "@/layouts/sidebar-layout.astro";

const { siteSettings } = Astro.locals;

const slug = Astro.params.slug;
if (!slug) {
	return Astro.redirect("/");
}

const page = await getPageBySlug(slug);
if (!page) {
	return Astro.redirect("/");
}
---

<AstroSeo
	title={`${page.name} | ${siteSettings.TITLE}`}
	description={siteSettings.DESCRIPTION}
/>

<SidebarLayout contentWidth="narrow">
	<span slot="collection-title">{page.name}</span>

	{!!Astro.locals.user && <PageAdminMenu page={page} client:load />}

	<div set:html={page.content} class="prose prose-slate container" />
</SidebarLayout>
