---
import { AstroSeo } from "@astrolib/seo";
import { pocketClient } from "@/services/pocket/pocket-client";
import PageLayout from "@/layouts/page-layout.astro";
import PageAdminMenu from "@/components/pages/page-admin-menu";

const { siteSettings } = Astro.locals;

const slug = Astro.params.slug;
const page = await pocketClient
	.collection("pages")
	.getFirstListItem(`slug="${slug}"`);
---

<AstroSeo
	title={`${page.name} | ${siteSettings.TITLE}`}
	description={siteSettings.DESCRIPTION}
/>

<PageLayout>
	<div>
		{Astro.locals.isAuthenticated && <PageAdminMenu page={page} />}

		<div set:html={page.content} class="prose prose-slate max-w-none" />
	</div>
</PageLayout>
