---
import { AstroSeo } from "@astrolib/seo";
import { pocketClient } from "@/services/pocket/pocket-client";
import SidebarLayout from "@/layouts/sidebar-layout.astro";
import PageAdminMenu from "@/components/pages/page-admin-menu";

const { siteSettings } = Astro.locals;

const slug = Astro.params.slug;
const page = await pocketClient
	.collection("pages")
	.getFirstListItem(`slug="${slug}"`);
---

<AstroSeo
	title={`${page.name} | ${siteSettings.TITLE}`}
	description={siteSettings.DESCRIPTION}
/>

<SidebarLayout contentWidth="narrow">
	<span slot="collection-title">{page.name}</span>

	{Astro.locals.isAuthenticated && <PageAdminMenu page={page} />}

	<div set:html={page.content} class="prose prose-slate container" />
</SidebarLayout>
