---
import { AstroSeo } from "@astrolib/seo";
import Pagination from "@/components/ui/pagination.astro";
import PostTimeline from "@/components/posts/post-timeline/post-timeline";
import SidebarLayout from "@/layouts/sidebar-layout.astro";
import { getPaginatedPosts } from "@/services/db/requests/posts/get";

const { siteSettings } = Astro.locals;

const page = parseInt(Astro.url.searchParams.get("page") || "1");
const year = Astro.url.searchParams.get("year") ?? undefined;

const posts = await getPaginatedPosts({
	page,
	perPage: 20,
	...(year !== undefined && { year }),
});

const { items, pagination } = posts;

const collectionTitle = year ? `in ${year}` : siteSettings.DESCRIPTION;
---

<AstroSeo
	title={`Posts page ${pagination.page} | ${siteSettings.TITLE}`}
	description={siteSettings.DESCRIPTION}
/>

<SidebarLayout contentPadding={false} showFooter>
	<span slot="collection-title">{collectionTitle}</span>

	<PostTimeline activeYear={year} posts={items} />

	<Pagination {...pagination} url="/posts" />
</SidebarLayout>
