---
import HeaderLink from "@/components/header/header-link.astro";
const slug = Astro.params.slug;
const id = Astro.params.id;
---

<div class="dropdown dropdown-bottom dropdown-end dropdown-hover">
	<div tabindex="0" role="button" class="btn btn-sm">Admin</div>
	<ul
		class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow normal-case gap-y-1"
	>
		<li>
			<h2 class="menu-title">Post</h2>
			<ul>
				<HeaderLink href="/cms/posts/create" label="Create"/>
				{Astro.url.pathname.includes('/posts') && id && (
						<HeaderLink href={`/cms/posts/${id}/update`} label="Update"/>
						<HeaderLink href={`/cms/posts/${id}/delete`} label="Delete"/>
					)
				}
			</ul>
		</li>

		<li>
			<h2 class="menu-title">Page</h2>
			<ul>
				<HeaderLink  href="/cms/pages/create" label="Create"/>
				{Astro.url.pathname.includes('/pages') && slug && (
						<HeaderLink href={`/cms/pages/${slug}/update`} label="Update"/>
						<HeaderLink href={`/cms/pages/${slug}/delete`} label="Delete"/>
					)
				}
			</ul>
		</li>

		<HeaderLink href="/cms/posts" label="Posts"/>

		<HeaderLink href="/cms/tags" label="Tags"/>

		<HeaderLink href="/auth/logout" label="Logout" prefetch={false}/>
	</ul>
</div>
