---
import { AstroSeo } from "@astrolib/seo";
import { format } from "date-fns";
import { getImgUrl } from "@/lib/get-img-url";
import SidebarLayout from "@/layouts/sidebar-layout.astro";
import Pagination from "@/components/ui/pagination.astro";
import PostTagUpdateForm from "@/components/posts/forms/post-tag-update-form";
import { getPaginatedPosts } from "@/services/db/requests/posts/get";

const page = parseInt(Astro.url.searchParams.get("page") || "1");

const posts = await getPaginatedPosts({ page, perPage: 10 });

const { items, pagination } = posts;
---

<AstroSeo title={`Posts | ${Astro.locals.siteSettings.TITLE}`} />

<SidebarLayout contentWidth="narrow">
	<span slot="collection-title">Posts</span>

	<div class="overflow-x-auto">
		<table class="table">
			<thead>
				<tr>
					<th style={{ width: "100px" }}>Created</th>
					<th>Tags</th>
					<th style={{ width: "100px" }}></th>
				</tr>
			</thead>

			<tbody>
				{
					items.map((post) => (
						<tr>
							<td>{format(post.shotOn, "yyyy.MM.dd")}</td>

							<td class="text-xs">
								<PostTagUpdateForm
									client:load
									tags={post.tags}
									postId={post.id}
								/>
							</td>

							<td>
								<a href={`/posts/${post.id}`}>
									<img
										class="rounded-t-sm w-[100px]"
										src={getImgUrl(post.imageUrl, "SM")}
										alt={post.alt}
										loading="lazy"
									/>
								</a>
							</td>
						</tr>
					))
				}
			</tbody>
		</table>

		<Pagination {...pagination} url="/cms/posts" />
	</div>
</SidebarLayout>
