---
import { AstroSeo } from "@astrolib/seo";
import { pocketClient } from "@/services/pocket/pocket-client";
import CmsLayout from "@/layouts/cms-layout.astro";
import TagCmsManager from "@/components/tags/tag-cms-manager/tag-cms-manager";
import TablePagination from "@/components/ui/table-pagination.astro";

const page = parseInt(Astro.url.searchParams.get("page") || "1");
const query = Astro.url.searchParams.get("query") || "";

const tags = await pocketClient
	.collection("tags_with_posts")
	.getList(page, 25, {
		...(query && { filter: `name ~ "${query}"` }),
		sort: "-post_count",
	});
---

<AstroSeo title={`Tags | ${Astro.locals.siteSettings.TITLE}`} />

<CmsLayout>
	<a class="link-hover" href="/cms/tags" slot="title">Tags</a>

	<div class="max-w-lg m-auto flex flex-col gap-y-4">
		<TagCmsManager tags={tags.items} initialQuery={query} client:load />

		{
			tags.totalPages > 1 && (
				<TablePagination
					page={tags.page}
					perPage={tags.perPage}
					totalItems={tags.totalItems}
					totalPages={tags.totalPages}
					url="/cms/tags"
				/>
			)
		}
	</div>
</CmsLayout>
